/* Header */
#header {
  background: #e68a00 url("westcollegescotland5.png") no-repeat top left;
  color: #fff;
  text-align: right;
  padding: 70px;
  font-family: "Arial", Times, serif;
}

/* Navigation */
#nav {
  background-color: #ff9933;
  float: left;
  width: 150px;
  height: 700px;
  padding: 5px;
  line-height: 30px;
}

/* Main Content */
#main {
  float: left;
  width: calc(100% - 150px);
  padding: 10px;
}

/* Footer */
#footer {
  background-color: #ff9933;
  color: #fff;
  text-align: center;
  padding: 5px;
  clear: both;
}

/* Tables */
table {
  padding: 50px;
}
